body {
  font-family: 'Arial', sans-serif;
  background: rgb(102, 115, 133);
  display: block;
  text-align: center;
  font-size: 120%;
}

h1 {
  margin: 0px;
}

#main {
  width: 600px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
  cursor: default;
}

#options {
  margin-top: 25px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

#optionsForm {
  display: none;
}

fieldset {
  border: none;
  margin: 10px;
  text-align: left;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  padding-left: 25px;
}

input[type=checkbox] + label:before {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 13px;
  height: 13px;
  border: 3px solid black;
  border-radius: 6px;
}

input[type=checkbox]:checked + label:before {
  background: black;
}

.slider {
  background-color: black !important;
  border: none !important;
  height: 5px !important;
  margin: 5px !important;
}

.ui-slider-handle {
  background: rgb(102, 115, 133) !important;
  border: 3px black solid !important;
  border-radius: 6px !important;
  width: 13px !important;
  height: 13px !important;
  margin-left: -10px !important;
}

#passwordsBox {
  width: 500px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
}

.password {
  cursor:copy;
  display: block;
  color: black;
}

a {
  cursor: pointer;
  color: gold;
}

a:hover {
  color: red;
}

#copyAllPasswords {
  cursor: copy;
}
